.video-container {
    position: fixed;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* For 16:9 aspect ratio */
    overflow: hidden;
  }
  
  .video-stream,
  .detection-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  